
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RecoveryAccount</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script>
        function ValidatePassword() {
            var password = document.getElementById("NewPassword").value;
            var rePassword = document.getElementById("ConfirmPassword").value;
            //var NewPasswordStatus = getElementById('NewPasswordStatus');
            if (password === rePassword && password !== "" && rePassword !== "") {
                document.getElementById('NewPasswordStatus').innerHTML = 'Passwords match';
                document.getElementById('NewPasswordStatus').style.display = "block";
                document.getElementById('NewPasswordStatus').style.color = "green";
                document.getElementById('resetBtn').disabled = false;
            } else if (rePassword !== null || password !== rePassword) {
                document.getElementById("NewPasswordStatus").innerHTML = "Passwords do not match or empty";
                document.getElementById('NewPasswordStatus').style.display = "block";
                document.getElementById('NewPasswordStatus').style.color = "red";
                document.getElementById('resetBtn').disabled = true;
            }
        }
    </script>
</head>
<body>
    <div id="dvloginrapper" style="height:700px;width:400px; position: fixed; left:0px; right:0px; top:0px; bottom: 0px; margin: auto">
        <div style="position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; margin: auto; height: 450px; width: 90%;">
            <form method="post" action="@Url.Action("Reset", "Auth")">
                <div class="card">
                    <div class="card-header text-center">
                        <h4> Forgot Password?</h4>
                        <p>You can reset your password here.</p>
                    </div>

                    <div class="card-body">
                        <div class="mb-3">
                            <label for="UserNameInput" class="form-label">Username or Email</label>
                            <input type="text" name="txtUserName" class="form-control" id="UserNameInput" required>
                        </div>
                        <div class="mb-3">
                            <label for="PasswordInput" class="form-label"> New Password</label>
                            <input type="password" name="txtNewPassword" class="form-control" id="NewPassword" required onkeyup="ValidatePassword()">
                        </div>
                        <div class="mb-3">
                            <label for="RePasswordInput" class="form-label"> Confirm New Password</label>
                            <input type="password" name="txtConfirmPassword" class="form-control" id="ConfirmPassword" required onkeyup="ValidatePassword()">
                            <span id="NewPasswordStatus" style="display: none; padding-top:2px; text-align:center; color:red"></span>
                        </div>
                        <div class="d-flex justify-content-center">
                            <input id="resetBtn" disabled style="width: 325px" value="Reset Password" class="btn btn-primary" type="submit" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    @if (Session["Message"] != null)
    {
        if ((bool)Session["IsSuccess"])
        {
            <div class="alert alert-success text-center" id="resultMessage">@Session["Message"]</div>
            <script>
            setTimeout(function () {
                window.location.href = '@Url.Action("Login", "Auth")';
            }, 2000);
            </script>
        }
        else
        {
            <div class="alert alert-danger text-center" id="resultMessage">@Session["Message"]</div>
        }
        Session.Remove("Message");
        Session.Remove("IsSuccess");
        
      }
</body>
</html>
